$main-font: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;


$colors: (
  white: #fff,
  black: (
    solid: #5B5B5B
  ),
  gray: (
    base: #6D6D6D,
    light: #EEEEEE,
    smoke: #F9F9F9,
    subtle: #F8FAFC,
    border: #E1E1E1
  ),
  branding: #23669B,
  brandLight: #E3A547,
  highlight: #FEF5E9,
  branding-disabled: #A6CAFF,
  dark-branding: #090111,
  blendedBlue: #13456C
);

$font-weight: (
  lg: 300,
  rg: 400,
  md: 500,
  sm: 600,
  bld: 700,
  blk: 900
);

$sizes: (
  base: 16px,
  mc: 0.75rem,
  sm: 0.875rem,
  md: 1.5rem,
  smd: 1.25rem,
  ssm: 0.625rem
);

$animation-type: cubic-bezier(.17,.67,.83,.67);
$gradient-type: linear-gradient(#bd79d7, #b75072);
