.about-snippets {
	& {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}

	> .panel {
		background-color: map-get($colors, white);
		border-radius: 0.5rem;
		border-left: 3px solid map-get($colors, brandLight);
		padding: 1.5rem;
	}

	> .panel > .head {
		font-weight: map-get($font-weight, bld);
		margin-bottom: 1rem;
		color: map-get($colors, branding);
	}

	> .panel > .subhead {
		line-height: 150%;
	}
}