.about-content {
	& {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1.5rem;
		// max-width: 62.5rem;
		margin: 0 auto;
	}

	> .panel {
		text-align: center;
		background-color: map-get($colors, white);
		padding: 1.5rem;
		box-shadow: 0 4px 10px rgba(0,0,0,0.10);
		border-radius: 0.625rem;
		text-decoration: none;
	}

	> .panel > .imageSection {
		display: flex;
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 6.25rem;
		@include flex-center;
		background-color: map-deep-get($colors, gray, light);
		margin: 0 auto 1rem auto;
	}

	> .panel > .head {
		color: map-get($colors, branding);
		font-size: 1.275rem;
		font-weight: map-get($font-weight, bld);
		line-height: 150%;
		margin-bottom: 0.5rem;
	}

	> .panel > .desc { 
		line-height: 150%;
		color: map-get($colors, black, solid);
	}
}