.contact-list {
	> li {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 1rem;
		padding: 1.5rem 1rem;
		margin-bottom: 1.5rem;
		background-color: map-deep-get($colors, gray, subtle);
		border-radius: 8px;

		> .contactDetails > .head {
			font-weight: map-get($font-weight, bld);
			color: map-get($colors, branding);
			margin-bottom: 0.5rem;
		}
	}
}