.contact-section {
	& {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3.875rem;
		margin-bottom: 3.875rem;
	}

	> .leftSection > .head {
		color: map-get($colors, branding);
		font-size: 1.5rem;
		font-weight: map-get($font-weight, bld);
		margin-bottom: 1.5rem;
	}

	> .leftSection > .contactWhy {
		padding: 1.5rem;
		background-color: map-get($colors,highlight);
		border-radius: 0.5rem;

		> .head {
			color: map-get($colors, branding);
			font-weight: map-get($font-weight, bld);
			margin-bottom: 1rem;
		}

		li {
			margin-bottom: 0.5rem;
		}
	}
}