.why-section {
	& {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		padding-top: 6.5rem;
	}

	> .leftSection {
		> .head {
			color: map-get($colors, branding);
			font-size: 1.5rem;
			font-weight: map-get($font-weight, bld);
			margin-bottom: 1.5rem;
			line-height: 150%;
		}

		> .desc { line-height: 200%; }

		> .desc.-highlight { color: map-get($colors, brandLight) }
	}
}