.contact-form {

	> .head {
		background-color: map-get($colors, branding);
		color: map-get($colors, white);
		padding: 1.5rem;
		border-radius: 0.625rem 0.625rem 0 0;
		font-size: map-get($sizes, md);
		font-weight: map-get($font-weight, bld);

		> img { 
			vertical-align: middle;
			margin-right: 0.625rem;
		}
	}

	> .mainForm {
		border: 1px solid map-deep-get($colors, gray, border);
		padding: 1.5rem;
		border-radius: 0 0 0.625rem 0.625rem;
	}
}